   .gnb_wrap					{position:relative;border-top:1px solid #e3e3e3;background:url("../image/common/gnb_bg.png") repeat-x;height:45px;}
   .gnb						{position:relative;width:85%;margin:0 auto;overflow:hidden;}
   .gnb ul>li					{float:left;  text-align:center; }
   .gnb ul>li a				{display:inline-block;zoom:1;*display:inline;width:100%;font-size:15px;line-height:45px; color:#222;  text-transform: uppercase; box-sizing:border-box; }
   .gnb ul>li a:hover			{color:#eb3b04;}
   .gnb ul>li a.current		{display:inline-block;zoom:1;*display:inline;color:#eb3b04;}
   
   #icon_box .icon01:after, #icon_box .icon02:after, #icon_box .icon03:after, #icon_box .icon04:after,
#icon_box .icon05_on:after, #icon_box .icon06_on:after, #icon_box .icon07_on:after, #icon_box .icon08_on:after, #icon_box .icon09_on:after, #icon_box .icon00_on:after{  
	z-index:1;
	content: '';
    position: absolute;
    border-top: 10px solid #eb3b04;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    bottom: -9px;
    left: 45%;
}
